.banner{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/tiendasisu-b70ee.appspot.com/o/WhatsAppImage2021-07-23at3.54.12PM_3_1024x1024%402x.jpg?alt=media&token=506f1fcf-4274-468d-a547-73de858b7091);
    background-position: top center;
    background-size: cover;
    padding: 25%;
    position: relative;
    z-index: 1;
    color: white;
    background-attachment: fixed;
}

.banner::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}